.main-ranking {
    width: 94.6%;
    margin: 25px;
    margin: 0 auto;
    margin-bottom: 20px;

    h3 {
        padding: 20px;
    }
    .list-rank {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;

        .ranking-image-1 {
            width: 32%;
            background-color: rgba($color: #b9b7b7, $alpha: 0.2);
            display: flex;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            gap: 10px;

            .image {
                width: 200px;
                height: 150px;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    height: 97.5%;
                    border-radius: 5px;
                    box-shadow: 0 0 5px lightgray;
                }
            }
            .songsinger-main {
                width: 59%;
                display: grid;
                .songsinger-ranking {
                    display: flex;
                    flex-direction: column;
                    .song {
                        color: var(--theme-mode-color);
                        font-size: 1.3rem;
                        font-weight: 500;
                        line-height: 18.2px;
                    }
                    .singer {
                        color: #949090;
                        font-size: 1.2rem;
                    }
                }
                .rankingdate-main {
                    position: relative;
                    width: 100%;
                    .ranking {
                        font-size: 3.5rem;
                        font-weight: 900;
                        line-height: 40px;
                        color: var(--theme-mode-background);
                        padding-bottom: 10px;
                       
                    }
                    .rank0{
                        -webkit-text-stroke: 1px #00bf63;
                    }
                    .rank1{
                        -webkit-text-stroke: 1px red;
                    }
                    .rank2{
                        -webkit-text-stroke: 1px gold;
                    }
                    .date {
                        position: absolute;
                        right: 5px;
                        color: var(--theme-mode-color);
                        font-size: 14px;
                        text-align: right;
                        padding-right: 1rem;
                        bottom: 5px;
                    }
                }
            }
        }
    }
}
