.search-playlists {
    width: 98%;
    padding: 1px 20px 50px 20px;
    margin: 0 auto;
    background-color: var(--theme-mode-background-user);
    
    .result-render {
        margin: 0 auto;
        width: 97.5%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 25px;

        .single-playlist {
            width: 200px;
            height: 280px;
            // border: 1px solid black;
            background-color: var(--theme-mode-background);
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            border-radius: 5px;
            padding: 15px;
            cursor: pointer;
            position: relative;

            .mask {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.363);
                opacity: 0%;
                z-index: 1;
                top: 0;
                left: 0;
                transition: 0.3s;
                border-radius: 5px;
            }

            .image {
                width: 90%;
                position: relative;
                margin: auto;
            }
            .image img {
                width: 100%;
                border-radius: 5px;
                z-index: 3;
            }
            .playButton {
                font-size: 3em;
                position: absolute;
                opacity: 0%;
                left: 35%;
                top: 70%;
                color: #00bf63;
                transition: 0.3s;
                z-index: 2;
            }

            .title {
                #title {
                    font-weight: 600;
                }
                #owner {
                    font-size: 14px;
                }
            }
        }
        .single-playlist:hover {
            .playButton {
                opacity: 100%;
                top: 35%;
            }
            .mask {
                opacity: 100%;
            }
        }
    }
}
