.header {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    z-index: 9999;
    padding: 0 20px;
    height: var(--header-height);
    background: var(--theme-mode-background);

    & .header-left {
        display: flex;
        align-items: center;

        & .header-roadMap {
            color: var(--theme-mode-color);
            font-size: 1.6rem;

            & .button-roadMap {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: rgba($color: var(--theme-mode-color-rgb), $alpha: 0.2);

                &:nth-child(2) {
                    margin-left: 10px;
                }
            }
        }
    }
}
