.final {
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5%;
    .loader {
        width: 50%;
        height: 5%;
        --clr: #05a8aa;
        --load-time: 2s;
        outline: 5px solid var(--clr);
        outline-offset: 5px;
        position: relative;
        overflow: hidden;
        border-radius: 5rem;
        padding: 1rem 5rem;
    }

    .loader::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--clr);
        z-index: 2;
        animation: loading var(--load-time);
    }

    @keyframes loading {
        0% {
            width: 0%;
        }
        100% {
            width: 100%;
        }
    }
}

.check {
    width: 100%;
    font-size: 5em;

    .checkmark {
        stroke: green;
        stroke-dashoffset: 745.74853515625;
        stroke-dasharray: 745.74853515625;
        animation: dash 2s;
    }

    @keyframes dash {
        0% {
            stroke-dashoffset: 745.74853515625;
        }
        100% {
            stroke-dashoffset: 0;
        }
    }
    h2 {
        font-size: 2em;
        color: var(--theme-mode-color);
    }
}
