.main-home {
    position: relative;
    width: 98%;
    height: 100%;
    margin: 0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--theme-mode-background-user);
    transition: background-color linear 0.2s;
    padding-top: 1.5em;
    padding-bottom: 20%;

    h3 {
        color: var(--theme-item-highlight);
    }

    .main-image {
        height: 200px;
        margin: 0 auto;
        position: absolute;
        top: 3%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 16px;
        .image2 {
            object-fit: cover;
        }
        .icon-slideright {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            padding: 10px 15px;
            border-radius: 100%;
            width: 30px;
            height: 30px;
            transform: translateY(180%);
            margin-right: -30px;
            background: var(--theme-item-highlight);
        }
        .icon-slideleft {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 15px;
            border-radius: 100%;
            width: 30px;
            height: 30px;
            transform: translateY(180%);
            margin-left: -30px;
            background: var(--theme-item-highlight);
        }
        img {
            width: 100%;
            height: 150px;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}

.main-top {
    margin: 25px;
    width: 94.6%;
    margin: 0 auto;

    .top-image {
        display: flex;
        gap: 16px;
        .top-image-1 {
            width: 24%;
            margin: 20px 0px;
            h3 {
                margin-top: 1.5em;
            }

            .top-image {
                display: flex;
                flex-direction: column;

                .image4 {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
