.main-album {
    width: 98%;
    margin: 0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--theme-mode-background-user);
    transition: background-color linear 0.2s;
    padding-top: 1.5em;
    padding-bottom: 20%;

    .profile-user {
        padding: 3%;
        box-shadow: rgba(22, 57, 40, 0.3) 0px 19px 38px, rgba(0, 191, 99, 0.22) 0px 15px 12px;
        background: var(--theme-mode-profile);
        .information {
            width: 100%;
            display: flex;
            align-items: center;
            .image-profile {
                position: relative;
                .image2 {
                    width: 200px;
                    height: 200px;
                    object-fit: cover;
                    border-radius: 50%;
                    box-shadow: var(--theme-mode-shadow-profile);
                }
            }

            .name {
                width: 100%;
                padding: 4%;
                position: relative;

                .name-profile {
                    font-size: 4.5em;
                }
                p {
                    position: absolute;
                }
            }
        }
    }
    .title {
        width: 90%;
        margin: auto;
        margin-top: 5%;

        h2 {
            font-size: 1.5em;
        }
        p {
            font-size: 1em;
            color: rgba($color: var(--theme-mode-color-rgb), $alpha: 0.6);
        }
    }
    .detail {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100px;
        line-height: 100px;
        padding-left: 5%;

        .detail-image {
            width: 50px;
            height: 50px;
            margin-right: 0.5em;
            border-radius: 100%;
        }
        .infor {
            span {
                font-weight: 400;
                font-size: 14px;
            }
        }
    }
    .album-header {
        display: inline-flex;
    }
    .prev-button {
        background: none;
        width: 100px;
        height: 100px;
    }
    .next-button {
        background: none;
        width: 100px;
        height: 100px;
    }
    table {
        border-collapse: collapse;
    }

    .album-render {
        padding: 20px;
        width: 100%;

        .img {
            border-radius: 5px;
        }
        .title {
            width: 100%;
            display: flex;
            flex-direction: row;
            height: 50px;
            line-height: 50px;
            padding-bottom: 2px;
            color: #6c6c6c;
            border-bottom: 1px solid rgba($color: var(--theme-mode-color-rgb), $alpha: 0.2);

            #id {
                width: 2%;
                text-align: end;
            }
            #song {
                width: 40%;
                margin-left: 1em;
            }
            #album {
                width: 30%;
                text-align: start;
            }
            #date {
                padding: 0px 10px;
                text-align: center;
                color: gray;
            }
            #lenght {
                padding: 0px 8%;
                text-align: center;
            }
        }

        .list-songs {
            width: 100%;
            display: flex;
            flex-direction: column;

            .single-song {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 0.7em;
                height: 56px;
                border-radius: 5px;
                transition: 0.15s;
                cursor: pointer;

                #id {
                    width: 2%;
                    text-align: end;
                }
                #song {
                    width: 40%;
                    margin-left: 1em;
                    display: flex;
                    flex-direction: row;

                    #song-title {
                        height: 40px;
                        line-height: 20px;
                        justify-content: center;
                        margin-left: 0.5em;

                        #title {
                            font-size: 16px;
                            font-weight: 500;
                        }
                        #author {
                            font-size: 14px;
                            font-weight: 400;
                            color: gray;
                        }
                    }
                }
                #album {
                    width: 30%;
                    text-align: start;
                    color: gray;

                    a {
                        padding-right: 10px;
                        color: gray;
                    }
                }
                #album a:hover {
                    color: var(--theme-mode-color);
                }
                #date {
                    padding: 10px;
                    text-align: center;
                    color: gray;
                }
                #lenght {
                    padding: 0px 20px;
                    text-align: center;
                    display: flex;
                    align-items: center;

                    #lenght {
                        padding: 0px 20px;
                        color: gray;
                    }
                    #icon {
                        opacity: 0%;
                    }
                }
            }
            .single-song:hover {
                background-color: rgba(184, 180, 180, 0.329);
                #song {
                    #song-title {
                        #author {
                            color: var(--theme-mode-color);
                        }
                    }
                }
                #album {
                    a {
                        color: var(--theme-mode-color);
                    }
                }
                #date {
                    color: var(--theme-mode-color);
                }
                #lenght {
                    #lenght {
                        color: var(--theme-mode-color);
                    }
                    #icon {
                        opacity: 100%;
                    }
                }
            }
        }
    }
    .btn-icon {
        width: 90%;
        height: 60px;
        margin: auto;
        line-height: 60px;

        .icon-Play {
            color: #00bf63;
            cursor: pointer;
            font-size: 4em;
            margin-top: 20px;
        }
        .icon-Play:hover {
            color: #03d16d;
        }
    }
}
