.wrapper {
    padding-left: 10px;
    & .title {
        font-size: 1.6rem;
        margin: 0;
        color: var(--theme-mode-color);
    }
    & .contents {
        margin-top: 10px;

        & .wrapper-disconnect-network {
            margin-top: 16px;
            display: flex;
            align-items: center;

            & .icon-wifi {
                font-size: 1.8rem;
                color: var(--theme-mode-color);
            }

            & .disconnect-network-title {
                font-size: 1.6rem;
                color: var(--theme-mode-color);
                font-weight: 500;
                margin-left: 10px;
            }
        }
    }
}
