.profile {
    width: 98%;
    margin: 0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--theme-mode-background-user);
    transition: background-color linear 0.2s;
    padding-top: 1.5em;
    padding-bottom: 20%;

    a {
        color: var(--theme-mode-color);
    }

    .profile-user {
        padding: 3%;
        box-shadow: rgba(22, 57, 40, 0.3) 0px 19px 38px, rgba(0, 191, 99, 0.22) 0px 15px 12px;
        background: var(--theme-mode-profile);

        .information {
            width: 100%;
            display: flex;
            align-items: center;

            .image-profile {
                position: relative;

                .image2 {
                    width: 200px;
                    height: 200px;
                    object-fit: cover;
                    border-radius: 50%;
                    box-shadow: var(--theme-mode-shadow-profile);
                }
            }

            .name {
                width: 100%;
                padding: 4%;
                position: relative;

                .name-profile {
                    font-size: 4.5em;
                }

                p {
                    position: absolute;
                }
            }
        }
    }

    .albumNot {
        width: 100%;
        text-align: center;

        .icon-album {
            color: var(--theme-mode-color);
            width: 100px;
            height: 100px;
            background-color: #00bf63;
            border-radius: 10px;
        }

        .h2-not {
            color: gray;
            font-size: 1.3em;
            text-align: center;
        }
    }

    .history {
        width: 100%;
        padding: 3%;
        margin-top: 3%;
        padding-bottom: 5%;

        h2 {
            text-align: left;
        }

        p {
            color: gray;
        }
    }

    .control-title {
        position: relative;
        height: 70px;
        line-height: 70px;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .title-left {
            h2 {
                font-size: 1.5em;
                height: 30px;
                line-height: 30px;
            }

            p {
                font-size: 1em;
                height: 30px;
                line-height: 30px;
                color: gray;
            }
        }

        .btn {
            position: absolute;
            right: 10%;

            button {
                width: 30px;
                height: 30px;
                border-radius: 100%;
                margin-top: 10px;
                cursor: pointer;
                right: 10%;
                color: var(--theme-mode-color);
                background-color: var(--theme-filter);
                box-shadow: 0 0 5px lightgray;
                margin-right: 20px;
            }

            button:hover {
                background-color: #00bf63;
                transition: 0.5 ease-in-out;
            }

            a {
                color: gray;
            }

            a:hover {
                color: var(--theme-mode-color);
                text-decoration: underline;
            }
        }
    }

    .playlist {
        width: 100%;
        padding: 3%;
        padding-bottom: 5%;
    }

    .favorite {
        width: 100%;
        padding: 3%;
        margin-bottom: 10%;

        h2 {
            text-align: left;
        }

        p {
            color: gray;
        }
    }

    .list-songs {
        width: 100%;
        display: flex;
        margin: auto;
        flex-direction: column;

        .single-song {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 0.7em;
            height: 56px;
            border-radius: 5px;
            transition: 0.15s;
            cursor: pointer;

            &:hover {
                background-color: rgba(184, 180, 180, 0.329);

                .lenght {
                    opacity: 100%;
                }
            }

            &.active {
                background-color: rgba(var(--theme-mode-color-rgb), 0.2);
            }

            .wrapper-img {
                position: relative;
                width: 40px;
                height: 40px;
                border-radius: 4px;

                .img {
                    border-radius: 4px;
                }

                & .playing-icon {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-color: rgba($color: #000000, $alpha: 0.6);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;

                    & .icon {
                        width: 18px;
                        height: 18px;
                        background-size: 18px;
                        background-repeat: no-repeat;
                        background-position: 50%;
                        background-image: url(/images/icon-playing.gif);
                    }
                }
            }

            & .edit {
                font-size: 1.4rem;
                color: var(--theme-mode-color);
                text-transform: inherit;
                font-style: italic;

                &:hover {
                    text-decoration: underline;
                }
            }

            .id {
                width: 2%;
                text-align: end;
            }

            .song {
                width: 40%;
                margin-left: 1em;
                display: flex;
                flex-direction: row;

                .song-title {
                    height: 40px;
                    line-height: 20px;
                    justify-content: center;
                    margin-left: 0.5em;

                    .song-name {
                        font-size: 16px;
                        font-weight: 500;
                    }

                    .author {
                        padding-top: 3px;
                        font-size: 14px;
                        font-weight: 500;
                        color: gray;
                    }
                }
            }

            .album {
                max-width: 20%;
                height: 20px;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                text-align: start;
                overflow: hidden;
                color: gray;

                a {
                    padding-right: 10px;
                    color: gray;
                }
            }

            .album a:hover {
                color: var(--theme-mode-color);
            }

            .date {
                width: 30%;
                padding: 10px;
                text-align: center;
                color: gray;
            }

            .lenght {
                width: 100px;
                text-align: center;
                display: flex;
                align-items: center;
                opacity: 0%;

            }
        }
    }

    .list {
        display: flex;
        flex-wrap: wrap;

        .item {
            width: 20%;
            height: 250px;
            margin: 10px;
            text-align: center;
            border-radius: 5px;
            background-color: var(--theme-mode-background-album);
            padding: 2%;
            position: relative;
            cursor: pointer;

            .playButton {
                font-size: 3em;
                position: absolute;
                opacity: 0%;
                left: 40%;
                top: 70%;
                color: #00bf63;
                transition: 0.3s;
                z-index: 2;
            }

            img {
                width: 100%;
                height: 70%;
                object-fit: cover;
                border-radius: 5px;
            }

            .icon-album {
                width: 100%;
                height: 60%;
                object-fit: cover;
                border-radius: 5px;
                background-color: #00a153;
            }

            p {
                font-size: 1.3rem;
            }
        }

        .item:hover {
            box-shadow: 0 0 15px var(--theme-filter);
            transition: 0.5 ease-in-out;

            img {
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                position: absolute;
                transform: scaleX(1);
            }

            .playButton {
                opacity: 100%;
                top: 35%;
            }
        }
    }
}