.album-render {
    margin-top: 1.5em;
    width: 100%;

    .title {
        width: 95%;
        display: flex;
        flex-direction: row;
        padding-bottom: 2px;
        border-bottom: 1px solid #b6b6b6;

        #id {
            width: 2%;
            text-align: end;
        }
        #song {
            width: 40%;
            margin-left: 1em;
        }
        #album {
            width: 18%;
            text-align: start;
        }
        #date {
            width: 20%;
            text-align: center;
        }
        #lenght {
            width: 20%;
            text-align: center;
        }
    }

    .list-songs {
        width: 95%;
        display: flex;
        flex-direction: column;

        .single-song {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 0.7em;
            height: 56px;
            border-radius: 5px;
            transition: 0.15s;
            cursor: pointer;

            #id {
                width: 2%;
                text-align: end;
            }
            #song {
                width: 40%;
                margin-left: 1em;
                display: flex;
                flex-direction: row;

                #song-title {
                    height: 40px;
                    line-height: 20px;
                    justify-content: center;
                    margin-left: 0.5em;

                    #title {
                        font-size: 16px;
                        font-weight: 500;
                    }
                    #author {
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }
            #album {
                width: 18%;
                text-align: start;
            }
            #date {
                width: 20%;
                text-align: center;
            }
            #lenght {
                width: 20%;
                text-align: center;

                #lenght {
                    padding: 0px 25px;
                }
                #icon {
                    opacity: 0%;
                }
            }
        }
        .single-song:hover {
            background-color: rgba(184, 180, 180, 0.329);

            #lenght {
                #icon {
                    opacity: 100%;
                }
            }
        }
    }
}
