.sidebar-navigation {
    width: 30%;
    flex: 0 0 18%;
    height: 100vh;
    border-right: 1px solid var(--theme-mode-color);

    & .left-sidebar{
        max-width: 90%;
        position: fixed;
    }
}
