.album {
    width: 180px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;

    & .img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 5px;
    }
    &:hover {
        background-color: rgba($color: var(--theme-mode-color-rgb), $alpha: 0.3);
        border-radius: 5px;
    }
    & h3 {
        width: 150px;
        height: 40px;
        font-size: 17px;
        line-height: 20px;
    }
    & p {
        font-size: 15px;
    }
    & a {
        color: rgb(var(--theme-mode-color-rgb));
    }
}
