.search {
    width: 98%;
    padding: 1px 20px 50px 20px;
    flex-direction: column;
    display: -webkit-box-flex;
    margin: 0 auto;
    background-color: var(--theme-mode-background-user);
    border-radius: 10px;
    transition: background-color linear 0.2s;
    padding-bottom: 100%;

    h2 {
        margin-bottom: 0.5em;
    }

    .top-result {
        width: 97.5%;
        height: auto;
        display: -webkit-box;
        flex-direction: row;
        align-items: center;
        column-gap: 20px;
        margin: 0 auto;
        margin-bottom: 1em;

        .result-left {
            // width: 33%;
            width: 40%;
            height: auto;

            .left {
                width: 100%;
                height: 237px;
                background: var(--theme-mode-background);
                border-radius: 10px;
                padding: 10px;
                cursor: pointer;

                .img {
                    height: 100px;
                    width: 100px;
                    border-radius: 50px;
                    object-fit: cover;
                    background: #c35151;
                    margin: 20px 0px 0px 20px;
                }

                .top-result-infor {
                    margin: 10px 0px 0px 20px;

                    h3 {
                        font-size: 32px;
                        line-height: 30px;
                        text-transform: uppercase;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    p {
                        height: 30px;
                        line-height: 30px;
                        font-size: 14px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }

            .left:hover {
                box-shadow: 0 0 5px var(--theme-mode-color);
            }
        }

        .result-right {
            width: 60%;

            .right {
                height: 223px;
                width: 100%;
                overflow: auto;

                // li {
                //     padding: 15px 10px;
                // }
            }
        }
    }

    .artist-result {
        width: 97.5%;
        margin: 0 auto;
        padding-top: 10px;


        .item-artist {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            // justify-content: center;
            gap: 20px;

            .item {
                width: 183px;
                background: var(--theme-mode-background);
                padding: 10px;
                text-align: center;
                border-radius: 5px;
                color: var(--theme-mode-color);

                h3 {
                    font-size: 1.1em;
                }

                p {
                    height: 40px;
                    line-height: 40px;
                    font-size: 1.3rem;
                }

                .img {
                    width: 156px;
                    height: 156px;
                    border-radius: 50%;
                    background: #c35151;
                }
            }

            .item:hover {
                box-shadow: 0 0 5px var(--theme-mode-color);
            }
        }

    }

    .filter {
        margin-top: 1em;
        margin-left: 0.76em;
        margin-bottom: 1em;

        button {
            margin-right: 1em;
            width: auto;
            height: 32px;
            border-radius: 15px;
            padding: 0px 15px;
            background-color: var(--theme-mode-background);
            cursor: pointer;
            font-size: 14px;
            color: var(--theme-mode-color);

        }

    }
}