.wrapper-btn-theme {
    width: 60px;
    height: 30px;
    background-image: var(--theme-switch-button);
    border-radius: 40px;
    position: relative;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    & .box {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 2%;
        width: 30px;
        height: 90%;
        background-color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s ease-in-out;

        &.moon {
            left: 2%;
        }

        &.sun {
            left: 44%;
        }

        & .theme-icon {
            font-size: 1.6rem;
            color: var(--theme-switch-icon);
        }
    }
}
