.wrapper {
    padding-left: 10px;
    & .prev-wrapper,
    & .next-wrapper {
        & .title {
            font-size: 1.6rem;
            margin: 0;
            color: var(--theme-mode-color);
            margin-left: 8px;
        }
    }
}
