.control-buttons {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.4em;
    margin-top: 0.8em;

    .btn-toggle-play-paused {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #111;
        border: 1px solid var(--theme-mode-color);
        background-color: transparent;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }

        & .icon-play-or-pause {
            font-size: 18px;
            color: var(--theme-mode-color);
        }
    }

    & .btn-actions {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 16px;
        background-color: transparent;
        text-transform: none;
        cursor: pointer;
        color: #fff;
        position: relative;

        &.active {
            color: var(--theme-item-highlight);
        }

        &.disabled {
            color: #ccc;
            cursor: default;
        }

        & .icon {
            padding: 5px;
        }

        & .mode-loop {
            position: absolute;
            top: 48%;
            right: 0;
            transform: translate(-48%, 0);
            font-size: 0.9rem;
            background-color: var(--theme-item-highlight);
            color: #fff;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            font-weight: 600;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }

        &:hover {
            background-color: hsla(0, 0%, 89%, 0.1);
        }
    }
}
