.stepper {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;

    .item1{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .item2{
        display: flex;
        align-items: center;
    }
    .stepper-number {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #38b2ac;

        .number {
            transition-property: all;
            border-radius: 50%;
            transition-duration: 500ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            border: 2px solid #21d4fd;
            height: 3rem;
            width: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
   
        }
        .choice{
            color: #21d4fd;
            background: #fff;
            border:  2px solid #21d4fd;
            opacity: 0.5;
        }
        .choice-done{
            color: white;
            font-weight: bold;
        }
    }
    .stepper-description {
        position: absolute;
        text-align: center;
        margin-top: 4.5rem;
        width: 8rem;
        font-weight: 500;
        font-size: 0.75rem;
        text-transform: uppercase;
        padding-top: 1rem;
        margin-left: -3%;
    }
    .description{
        color: black;
    }
    .not-description{
        color: gray;
    }
    .line{
        flex: 1 1 auto;
        border-top: 2px solid #21d4fd; 
        transition-property: all; 
        transition-duration: 500ms; 
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
    }
    .line-choice{
        color: #38b2ac;
    }
}
