.pop-up {
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: rgba($color: var(--theme-mode-color-rgb), $alpha: 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;

    .controller {
        width: 100%;
        height: 100%;
        display: grid;
        align-items: center;
        justify-content: center;

        .form-pop-up {
            width: 35vw;
            height: 40%;
            display: grid;
            padding: 3%;
            border-radius: 10px;
            background-color: var(--theme-mode-background-stepper);
            position: relative;

            .title {
                height: 50px;
            }
            .close {
                width: 30px;
                height: 30px;
                padding: 3%;
                color: var(--theme-mode-color);
                position: absolute;
                right: 0;
                top: 0;
                background: none;
                z-index: 3;
                cursor: pointer;
            }

            .profile {
                display: grid;
                justify-items: center;

                .form {
                    width: 100%;
                    text-align: center;
                    input {
                        height: 50px;
                        width: 95%;
                        border-radius: 5px;
                        border: none;
                        padding-left: 10px;
                        color: var(--theme-mode-color);
                        background: var(--theme-filter);
                    }
                    button {
                        margin-top: 20px;
                        padding: 15px 20px;
                        border-radius: 10px;
                        cursor: pointer;
                        color: var(--theme-mode-background);
                        background-color: #00bf63;
                        font-weight: bold;
                    }
                }
            }
            p {
                width: 100%;
                font-size: 1.2rem;
                margin-top: 5px;
            }
        }
    }
}
