.sidebar-info {
    width: 30%;
    flex: 0 0 18%;
    height: 1200px;
    padding: 10px;

    & .right-sibar {
        border-left: 1px solid var(--theme-mode-color);
        width: 300px;
        height: 100%;
        position: fixed;
    }
}
