.sidebar-info {
    width: 30%;
    flex: 0 0 18%;
    height: 1200px;
    z-index: 3;

    & .right-sidebar {
        border-left: 1px solid var(--theme-mode-color);
        width: 300px;
        height: 100%;
        position: fixed;
        padding: 10px 0;
    }
}
