.pop-up {
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: rgba($color: var(--theme-mode-color-rgb), $alpha: 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;

    .controller {
        width: 100%;
        height: 100%;
        display: grid;
        align-items: center;
        justify-content: center;

        .form-pop-up {
            width: 35vw;
            padding-bottom: 30px;
            display: grid;
            padding: 3%;
            border-radius: 10px;
            background-color: var(--theme-mode-background-stepper);
            position: relative;

            .title {
                height: 50px;
            }

            .close {
                width: 30px;
                height: 30px;
                padding: 3%;
                color: var(--theme-mode-color);
                position: absolute;
                right: 0;
                top: 0;
                background: none;
                z-index: 3;
                cursor: pointer;
            }

            .profile {
                .img-upload {
                    width: 100%;
                    display: grid;
                    justify-content: center;
                    justify-items: center;
                    margin: auto;
                    object-fit: cover;
                    position: relative;

                    img {
                        width: 200px;
                        height: 200px;
                        object-fit: cover;
                        border-radius: 10px;
                    }

                    .title-upload {
                        position: absolute;
                        cursor: pointer;
                        opacity: 0%;
                        color: white;
                        text-decoration: underline;
                        width: 200px;
                        height: 200px;
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: bold;
                        transition: 0.3s;
                        z-index: 3;
                    }

                    input[type='file'] {
                        opacity: 0%;
                        height: 0px;
                    }

                    .error-message {
                        color: red;
                        margin-top: 8px;
                        font-size: 12px;
                    }

                }

                .img-upload:hover {
                    .title-upload {
                        opacity: 100%;
                        text-align: center;
                        background-color: rgba($color: black, $alpha: 0.3);
                    }

                    img {
                        background-color: rgba($color: var(--theme-mode-color-rgb), $alpha: 0.3);
                    }
                }

                .form {
                    width: 100%;
                    text-align: center;

                    input {
                        height: 40px;
                        width: 100%;
                        margin-bottom: 10px;
                        border-radius: 5px;
                        border: none;
                        padding-left: 10px;
                        color: var(--theme-mode-color);
                        background: var(--theme-filter);
                    }

                    .select-input {
                        width: 100%;
                        color: black;
                        padding-bottom: 10px;
                        background: none;
                        border-radius: 5px;
                    }

                    button {
                        top: 50px;
                        padding: 10px 20px;
                        border-radius: 10px;
                        cursor: pointer;
                        color: var(--theme-mode-background);
                        background-color: #00bf63;
                        margin: auto;
                        text-align: center;
                        font-weight: bold;
                    }
                }
            }

            p {
                width: 100%;
                font-size: 1.2rem;
                margin-top: 20px;
            }
        }
    }
}