$primary-color: #ddd;
$secondary-color: #999;
$green-color: #2d5;
$padding: 0.5em;
.progress-bar {
    height: 4px;
    border-radius: 10px;
    width: 40%;
    background-color: #ccc4;

    .progress {
        position: relative;
        height: 100%;
        width: 30%;
        border-radius: 10px;
        background-color: $secondary-color;
    }
}
.progress-bar:hover .progress {
    background-color: $green-color;
    cursor: pointer;
}
.progress-bar:hover .progress::after {
    content: '';
    position: absolute;
    $size: 1em;
    width: $size;
    height: $size;
    right: 0;
    border-radius: 50%;
    background-color: $primary-color;
    transform: translate(50%, calc(2px - 50%));
}
