.primary-layout {
    width: 100%;
    display: flex;
    align-items: flex-start;
    position: relative;
    color: var(--theme-mode-color);

    & .contents {
        flex: 1;
        height: 100vh;

        & .container{
            margin-top: 60px;
        }
    }

    & .component-outside {
        position: fixed;
        top: unset;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background-color: var(--theme-mode-background);
        color: var(--theme-mode-color);
    }
}
