.form {
    width: 100%;
    margin-top: 50px;
    height: 800px;
    padding: 20px;
    color: white;

    & .col-3 {
        display: grid;
        grid-template-columns: 150px 1fr;
        margin-bottom: 20px;
        // line-height: 50px;
        height: 40px;

        & label {
            text-align: right;
            padding: 10px;
        }

        & .input {
            width: 400px;
            height: 40px;
            border-radius: 5px;
            padding-left: 10px;
            // background: none;
            border: 1px solid lightseagreen;
            outline: none;

            &:focus {
                box-shadow: 0 0 5px aqua;
            }
        }
        & input[type='file'] {
            margin-top: 10px;
        }

        & select {
            width: 400px;
            height: 40px;
            border-radius: 5px;
            // background: none;
            border: 1px solid lightseagreen;
            outline: none;

            & option {
                color: black;
            }
            &:focus {
                box-shadow: 0 0 5px aqua;
            }
        }
    }
    & button {
        width: 200px;
        height: 40px;
        // padding: 10px;
        background: lightblue;
        border-radius: 5px;
        margin: auto;
    }
}

.select-input {
    color: black;
    width: 400px;
    font-size: 15px;
    border-radius: 5px;
}
