.form {
    width: 100%;
    height: 800px;
    padding: 20px;
    color: white;

    & h2 {
        color: var(--theme-mode-color);
    }
    & .col-3 {
        display: grid;
        grid-template-columns: 150px 1fr;
        margin-bottom: 20px;
        height: 45px;

        & label {
            text-align: right;
            padding: 10px;
        }

        & .input {
            width: 400px;
            height: 40px;
            border-radius: 5px;
            padding-left: 10px;
            // background: none;
            border: 1px solid #dfdfdf;
            outline: none;
        }
        & input[type='file'] {
            margin-top: 10px;
        }

        & select {
            width: 400px;
            height: 40px;
            border-radius: 5px;
            // background: none;
            border: 1px solid #dfdfdf;
            outline: none;

            & option {
                color: black;
            }

        }
    }
    & button {
        width: 200px;
        height: 50px;
        font-size: 1em;
        background: lightblue;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            box-shadow: 0 0 5px blue;
        }
    }
}

.select-input {
    color: black;
    width: 400px;
    // font-size: 15px;
    border-radius: 5px;

}

