.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: min((100vh - 96px) - 60px, 734px);
    min-height: 100px;
    padding-top: 8px;
    border-radius: 8px;
    background: var(--theme-mode-background-user);
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
}

// Menu wrapper
.menu-list {
    width: 224px;
    position: absolute;
    top: 0;

    & .menu-item {
        margin-left: 0;
        color: var(--theme-mode-color);
    }
}

.menu-popper {
    padding-bottom: 8px;
}

.menu-body {
    overflow-y: auto;
}

// Menu items
.menu-item {
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
    padding: 11px 16px;
    line-height: 1.8rem;
    font-weight: 600;

    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

// Header
.header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 50px;
    margin-top: -8px;
    color: var(--theme-mode-color);
}

.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    color: var(--theme-mode-color);
}

.relativeElement {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--theme-mode-color);
}
